<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/links.css">
    <link rel="stylesheet" href="../styles/main.css">
    <title>claires cakes</title>
  </head>
  <body>
  <h1>Bakery Home Page</h1>
<ul>
    <li class="productLink">cakes</li>
    <li class="productLink">cupcakes</li>
    <li class="productLink">muffins</li>
</ul>

<script src="/scripts/request-helpers.js"></script>
<script src="/scripts/links.js"></script>
<script src="/scripts/main.js"></script>

  </body>