<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/main.css">
    <title>claires cakes</title>
  </head>
  <body>
  <h1>Bakery Home Page</h1>
<ul>
    <li>cakes</li>
    <li>cupcakes</li>
    <li>muffins</li>
</ul>

<script src="../scripts/main.js"></script>
  </body>