<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/main.css">
    <title>claires cakes</title>
  </head>
  <body>
  <h1>Bakery Home Page</h1>
<ul>
   <% @products.each do |item| %>
    <li> <%= item.description %> </li>
    <%end%>
</ul>
  </body>